@using INTEX_II_413.Models.ViewModels

@model CustomerListViewModel

<h1>Admin Table for Customers</h1>

<table class="table table-bordered table-striped">

    <thead class="thead-dark">
        <tr>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">CustomerId</th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">FirstName</th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">LastName</th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">BirthDate</th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">Country</th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">Gender</th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;">Age</th>

            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;"></th>
            <th style="text-align:center; background-color: #e8040c; font-weight: bold; color: white;"></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td style="text-align:center">@x.CustomerId</td>
                <td style="text-align:center">@x.FirstName</td>
                <td style="text-align:center">@x.LastName</td>
                <td style="text-align:center">@x.BirthDate.Date.ToString("MM/dd/yyyy")</td>
                <td style="text-align:center">@x.Country</td>
                <td style="text-align:center">@x.Gender</td>
                <td style="text-align:center">@x.Age</td>

                <td style="text-align:center">
                    <a class="btn btn-info"
                       asp-controller="Home" asp-action="EditCustomer" asp-route-id="@x.CustomerId"
                       style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px;
                       color: white; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black;
                       font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
                        <b>Edit</b>
                    </a>
                </td>
                <td style="text-align:center">
                    <a class="btn btn-danger"
                       asp-controller="Home" asp-action="DeleteCustomer" asp-route-id="@x.CustomerId"
                       style="display: inline-flex; justify-content: center;align-items: center;outline: 0;cursor: pointer;height: 34px;padding: 0 13px;
                       color: white;border-radius: 3px;border: 1px solid transparent;transition: all .3s ease;background:	#e8040c;border-color:black;
                       font-weight: 600;text-transform: uppercase;line-height: 16px;font-size: 14px;">
                        <b>Delete</b>
                    </a>
                </td>

            </tr>
        }
    </tbody>

</table>

<div class="row justify-content-between">
    <!-- Pagination at the bottom of the products list -->
    <div class="col-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("AdminProducts", "Home", new { pageNum = i, pageSize = Model.PaginationInfo.ItemsPerPage, productCategory = Model.CurrentProductCategory, productColor = Model.CurrentProductColor })">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>