@{
    Layout = "_AdminLayout";
}

<h1>List of Orders that have been placed</h1>

<table class="table table-bordered table-striped">

    <thead class="thead-dark fw-bold">
        <tr>
            <th style="text-align:center" class="bg-black text-white">TransactionId</th>
            <th style="text-align:center" class="bg-black text-white">CustomerId</th>
            <th style="text-align:center" class="bg-black text-white">Date</th>
            <th style="text-align:center" class="bg-black text-white">DayOfWeek</th>
            <th style="text-align:center" class="bg-black text-white">Time</th>
            <th style="text-align:center" class="bg-black text-white">CardType</th>
            <th style="text-align:center" class="bg-black text-white">EntryMode</th>
            <th style="text-align:center" class="bg-black text-white">Amount</th>
            <th style="text-align:center" class="bg-black text-white">Type</th>
            <th style="text-align:center" class="bg-black text-white">Country</th>
            <th style="text-align:center" class="bg-black text-white">Address</th>
            <th style="text-align:center" class="bg-black text-white">Bank</th>
            <th style="text-align:center" class="bg-black text-white">Fraud?</th>
            <th style="text-align:center" class="bg-black text-white">Edit</th>
            <th style="text-align:center" class="bg-black text-white">Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td style="text-align:center">@x.TransactionId</td>
                <td style="text-align:center">@x.CustomerId</td>
                <td style="text-align:center">@x.Date</td>
                <td style="text-align:center">@x.DayOfWeek</td>
                <td style="text-align:center">@x.Time</td>
                <td style="text-align:center">@x.CardType</td>
                <td style="text-align:center">@x.EntryMode</td>
                <td style="text-align:center">@x.Amount</td>
                <td style="text-align:center">@x.Type</td>
                <td style="text-align:center">@x.Country</td>
                <td style="text-align:center">@x.Address</td>
                <td style="text-align:center">@x.Bank</td>
                <td style="text-align:center">@x.Fraud</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="EditProduct" asp-route-id="@x.TransactionId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@x.TransactionId">Delete</a></td>
            </tr>
        }
    </tbody>

</table>
