<h1>List of Orders that have been placed</h1>

<table class="table table-bordered table-striped">

    <thead class="thead-dark fw-bold" style="background-color: #92b6f0;">
        <tr>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">TransactionId</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">CustomerId</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Date</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">DayOfWeek</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Time</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">CardType</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">EntryMode</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Amount</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Type</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Country</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Address</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Bank</th>
            <th style="text-align:center; background-color: #92b6f0;" class="text-white">Fraud?</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td style="text-align:center">@x.TransactionId</td>
                <td style="text-align:center">@x.CustomerId</td>
                <td style="text-align:center">@x.Date</td>
                <td style="text-align:center">@x.DayOfWeek</td>
                <td style="text-align:center">@x.Time</td>
                <td style="text-align:center">@x.CardType</td>
                <td style="text-align:center">@x.EntryMode</td>
                <td style="text-align:center">@x.Amount</td>
                <td style="text-align:center">@x.Type</td>
                <td style="text-align:center">@x.Country</td>
                <td style="text-align:center">@x.Address</td>
                <td style="text-align:center">@x.Bank</td>
                <td style="text-align:center">@x.Fraud</td>
            </tr>
        }
    </tbody>

</table>
