@model INTEX_II_413.Models.ViewModels.OrdersListViewModel

<div style="display: flex; justify-content: space-between; align-items: center; text-align: center;">
    <div style="text-align: left;">
        <vc:fraud-filter />
    </div>
    <h1 style="color: black; padding: 20px; text-align: center; font-size: 48px; font-family: 'Arial Black' , sans-serif;">Orders</h1>
    <div style="text-align: right;">
        <form asp-controller="Home" asp-action="AdminHomepage" method="get">
            <button type="submit" class="btn" style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px;
               color: white; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black;
               font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px; width: 200px;">
                <b>Return to Admin Portal</b>
            </button>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-dark" style="background-color: #e8040c;">
        <tr>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Transaction ID</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Customer ID</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Date</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Day Of Week</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Time</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Card Type</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Entry Mode</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Amount</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Type</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Country</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Address</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Bank</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Fraud</th>
            <th style="text-align:center; vertical-align: middle; background-color: #e8040c; color: white; font-weight: bold;">Fraud Predicted?</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.Orders)
        {
                <tr>
                    <td style="text-align:center">@x.TransactionId</td>
                    <td style="text-align:center">@x.CustomerId</td>
                    <td style="text-align:center">@x.Date.Date.ToString("MM/dd/yyyy")</td>
                    <td style="text-align:center">@x.DayOfWeek</td>
                    <td style="text-align:center">@x.Time.ToString("h:mm tt")</td>
                    <td style="text-align:center">@x.CardType</td>
                    <td style="text-align:center">@x.EntryMode</td>
                    <td style="text-align:center">$@x.Amount</td>
                    <td style="text-align:center">@x.Type</td>
                    <td style="text-align:center">@x.Country</td>
                    <td style="text-align:center">@x.Address</td>
                    <td style="text-align:center">@x.Bank</td>
                    <td style="text-align:center">@x.Fraud</td>
                    <td style="text-align:center">@x.FraudPredicted</td>
                </tr>
        }
    </tbody>
</table>

<div class="row justify-content-between">
    <!-- Pagination at the bottom of the products list -->
    <div class="col-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
                {
                    // Show the first five tabs
                    if (i <= 5)
                    {
                        <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("AdminOrders", "Home", new { pageNum = i, pageSize = Model.PaginationInfo.ItemsPerPage})">@i</a>
                        </li>
                    }
                    // Show dots after the fifth tab
                    else if (i == 6)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }
                    // Show tabs with incremented values after the dots
                    else if (i > Model.PaginationInfo.CurrentPage - 2 && i < Model.PaginationInfo.CurrentPage + 2)
                    {
                        <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("AdminOrders", "Home", new { pageNum = i, pageSize = Model.PaginationInfo.ItemsPerPage})">@i</a>
                        </li>
                    }
                    // Show dots before the last tab
                    else if (i == Model.PaginationInfo.TotalPages - 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }
                    // Show the last tab
                    else if (i == Model.PaginationInfo.TotalPages)
                    {
                        <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("AdminOrders", "Home", new { pageNum = i, pageSize = Model.PaginationInfo.ItemsPerPage})">@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

