@using INTEX_II_413.Models.ViewModels

@model ProductsListViewModel

<style>
    table {
        table-layout: fixed;
        width: 100%;
    }
</style>
<br />
<div style="text-align:right">
    <form asp-controller="Home" asp-action="AdminAddProduct" method="post">
        <button type="submit" class="btn" style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px;
           color: white; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black;
           font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px; width: 150px;">
           <b>Add Product</b>
        </button>
    </form>
</div><br />

<div class="row" width="100%">
    <table class="table table-bordered table-striped" style="table-layout: auto;">
        <thead class="thead-dark" style="background-color: #e8040c;">
            <tr>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">ProductId</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Name</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Price</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; max-width: 200px; vertical-align: middle;">Description</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Category</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Year</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Number of Parts</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Image Link</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Primary Color</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Secondary Color</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Edit</th>
                <th style="text-align:center; background-color: #e8040c; color: white; font-weight: bold; vertical-align: middle;">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Products)
            {
                <tr>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.ProductId</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.Name</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">$@x.Price</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 200px;">@x.Description</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.Category</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.Year</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.NumParts</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 200px;">@x.ImgLink</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.PrimaryColor</td>
                    <td style="text-align:center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@x.SecondaryColor</td>
                    <td style="text-align:center;">
                        <button class="btn btn-info" asp-controller="Home" asp-action="EditProduct" asp-route-id="@x.ProductId"
                            style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px;
                            color: white; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black;
                            font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
                            Edit
                        </button>
                    </td>
                    <td style="text-align:center;">
                        <button class="btn btn-danger" asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@x.ProductId"
                            style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px;
                            color: white; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black;
                            font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
                            Delete
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>


</div>

<div class="row justify-content-between">
    <!-- Pagination at the bottom of the products list -->
    <div class="col-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("AdminProducts", "Home", new { pageNum = i, pageSize = Model.PaginationInfo.ItemsPerPage, productCategory = Model.CurrentProductCategory, productColor = Model.CurrentProductColor })">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>


