@page
@model INTEX_II_413.Pages.CartModel
@{
}

<h2>Your cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">@l.Product.Price</td>
                <td class="text-right">@((l.Quantity * l.Product.Price).ToString("c"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                        <button class="btn btn-primary" style="width: 150px; height: 34px; padding: 0 13px; color: #fff; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black; font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
                            <b>Remove</b>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.Total.ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <form asp-controller="Home" asp-action="Products" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-primary" style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px; color: white; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black; font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
            <b>Continue Shopping</b>
        </button>
    </form>

    <form asp-controller="Home" asp-action="Cart" method="post" style="display: inline-block;">
        <input type="hidden" name="total" value="@Model.Cart.Total" />
        <button type="submit" class="btn btn-primary" style="width: 150px; height: 34px; padding: 0 13px; color: #fff; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #e8040c; border-color: black; font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
            <b>Checkout</b>
        </button>
    </form>
</div>

